

<div class="card-panel" >
    <p>This page is an interactive and multimedia companion of my dissertation <em>Brouillon Net</em>. It contains links and audiovisual materials referenced in the print version of my work. It can also be viewed independently as a timeline of a certain number of events which help innovate and shape contemporary French publishing. But how did they start? How did they grow to be the undeniable authorities they are today?</p> 
    
    <p>Like any other chronological course of events this timeline is not smooth. Events and creative projects running parallel in time are inevitable. The following presentation, however in form of "cards" is designed to help the reader visualize the history of each website individually.</p>

    <p>The first card is dedicated to François Bon's <a href="http://www.tierslivre.net/">Tierslive</a>, the second to Philippe de Jonckheere's <a href="http://desordre.net/">Désordre</a> and the third to Éric Chevillard's <a href="">L'Autofictif</a>.</p>

</div>
